<div class="clr-row">
  <div class="clr-col-1">
     <span class="label label-light-blue"> Total of filters <span class="badge badge-light-blue">{{filterTotal | async}}</span></span>
  </div>
  <div class="clr-col-1">      
    </div>
  <div class="clr-col-1">
     <span class="label label-light-4"> Numeric Fields <span class="badge badge-4">{{totalNumericFields | async}}</span></span>
  </div>
  <div class="clr-col-1">      
    </div>
  <div class="clr-col-1">
      <span class="label label-light-4"> String Fields <span class="badge badge-4">{{totalStringFields | async}}</span></span>
  </div>
  <div class="clr-col-1">      
    </div>
</div>
